<template>
  <div class="cart">
    <h1>Cart</h1>
    <table>
        <tr>
            <th>№</th>
            <th>Product name</th>
            <th>Price</th>
        </tr>
        <tr :key="index" v-for="(item, index) in products">
            <td>{{ index + 1 }}</td>
            <td>{{ item.item }}</td>
            <td>{{ item.price }} грн</td>
        </tr>

        <tr class="total-price">Total Price: {{ getTotalPrice(products).toFixed(2) }} грн </tr> 
        
    </table>
  </div>
</template>

<script>
export default {
  props: {
    products: null,
  },
  methods: {
    getTotalPrice: function(products) {
      return products.reduce((acc, item) => acc + item.price, 0);
    },
  },
};
</script>

<style scoped>
.cart {
  max-width: 600px;
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px;
}

th {
  text-align: left;
  padding: 5px 10px;
  font-weight: 700;
  border: 1px solid #000;
}

td {
  text-align: left;
  padding: 5px 10px;
  font-weight: 400;
  border: 1px solid #000;
}

.product-item,
.price {
  font-weight: 700;
}
.cart-item {
  margin-bottom: 15px;
}
.total-price {
  display: inline-flex;
  padding: 5px;
}
</style>
